keyring
djangorestframework-simplejwt
psutil
pySMART
prometheus_client
paramiko
fabric
Django
djangorestframework
psycopg2-binary
redis
celery
django-celery-beat
django-celery-results
channels
daphne
django-oauth-toolkit
PyJWT
gunicorn
drf-yasg
whitenoise
uvicorn
requests
python-dateutil
cryptography
bcrypt
python-whois
dnspython
django-redis
python-decouple
django-cors-headers
django-environ
speedtest-cli
