services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    container_name: backend
    env_file:
      - ../backend/.env
    ports:
      - "8000:8000"
      - "8080:8080"
    depends_on:
      - db
      - redis
    volumes:
      # - ../backend:/app  # Removed bind mount - files are copied in image
      - backend_keys:/app/backend/services
      - backend_serverid:/app/backend/dashboard
    entrypoint: ["/entrypoint.sh"]
    command: ["sh", "-c", "service nginx start && gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 && daphne backend.asgi:application --bind 0.0.0.0 --port 8080"]

  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_DB: ${ALTERION_DB_NAME:-alterion_db}
      POSTGRES_USER: alterion_user
      POSTGRES_PASSWORD: ${ALTERION_DB_PASSWORD:-alterion_pass}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  celery:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    container_name: celery
    command: ["celery", "-A", "backend", "worker", "--loglevel=info"]
    depends_on:
      - backend
      - redis
    env_file:
      - ../backend/.env

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./nginx.backend.conf:/etc/nginx/conf.d/default.conf
      - certs:/etc/letsencrypt
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certs:/etc/letsencrypt
      - ./webroot:/var/www/certbot
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
  backend_keys:
  backend_serverid:
  certs:
